{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Farmer's One Stop Solution</p>
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- featured section -->
<div class="feature-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="featured-text">
					<h2 class="pb-3">Why <span class="orange-text">AgriAI</span></h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-seedling"></i>
								</div>
								<div class="content">
									<h3>Crop Recommendation</h3>
									<p>Recommendation about the type of crops to be cultivated which is best suited for the respective conditions</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-hand-holding-heart"></i>
								</div>
								<div class="content">
									<h3>Fertilizer Suggestion</h3>
									<p>Recommendation about the type of fertilizer best suited for the particular soil and the recommended crop</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-eye"></i>
								</div>
								<div class="content">
									<h3>Disease Identification</h3>
									<p>Predicting the name and causes of crop disease and suggestions to cure it in any preferred language.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="list-box d-flex">
								<div class="list-icon">
									<i class="fas fa-cart-plus"></i>
								</div>
								<div class="content">
									<h3>Shopping</h3>
									<p>One stop destination for farmers to buy desired products like crops,fertilizers,equiments etc.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end featured section -->

<!-- shop banner -->
<section class="shop-banner">
	<div class="container">
		<h3>Festive Sale is on! <br>  <span class="orange-text">HURRY! HURRY! HURRY!</span></h3>
		<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off*</span></div>
		<a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>
<!-- end shop banner -->

<!-- team section -->
<div class="mt-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3>Our <span class="orange-text">Team</span></h3>
					<p>We are a team of 1500+ members made up of experienced farming experts,scientists and professionals who work together to provide accurate and helpful information on our website. We want to help farmers and gardeners grow their crops successfully and sustainably, and we are dedicated to giving them the best advice possible. </p>
				</div>
			</div>
		</div>
		<div class="row" style="
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
flex-direction: row;
justify-content: space-evenly;
align-content: center;">
			<div class="col-lg-4 col-md-6">
				<div class="single-team-item">
					<div class="team-bg team-bg-1"></div>
					<h4 class="text-dark">Vivekananda Giri <span>Software Developer</span></h4>
					<ul class="social-link-team">
						<li><a href="https://www.facebook.com/share/DcUsrYdaLEwQm6zh/?mibextid=qi2Omg" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://x.com/im_vivekananda?t=tiwQlfBKNRKQ8XcejJR3pA&s=09" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/im_vivekananda?igsh=MTRzbHg2eGJuN3Vjcg==" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-team-item">
					<div class="team-bg team-bg-3"></div>
					<h4 class="text-dark">Priyanshu Nayak <span>Software Developer</span></h4>
					<ul class="social-link-team">
						<li><a href="https://www.facebook.com/priyanshu.nayak.77" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://x.com/PriyanshuN33780" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/pri.yxnshuu?igsh=MW82NHFseWJyZXh6Zg%3D%3D&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end team section -->

<!-- testimonail-section -->


<div class="testimonail-section mt-80 mb-150">
	<div class="container">
		<h4 class="text-dark"><u>Testimonials</u></span></h4>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 text-center">
				<div class="testimonial-sliders">
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="{% static 'assets/img/avaters/avatar1.png' %}" alt="Avatar">
						</div>
						<div class="client-meta">
							<h3>Rajesh Das <span>Low tier Farmer</span></h3>
							<p class="testimonial-body">
								"I am a low tier worker and AgriAI has helped me earn my bread and butter for my family. My wife and children are happy now and i would recommend farmers to use this app."
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="{% static 'assets/img/avaters/avatar2.png' %}" alt="Avatar">
						</div>
						<div class="client-meta">
							<h3>Subham Nayak <span>Gardener</span></h3>
							<p class="testimonial-body">
								" I have worked in many farm but using this app has helped me grow good plants through so many good features."
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="Avtar">
						</div>
						<div class="client-meta">
							<h3>Girish Chandra Banua<span>Pesticide Seller</span></h3>
							<p class="testimonial-body">
								"I didn't have any knowledge on what pesticides to sell for different crops but through AgriAI I am now learning to work in a pesticide company."
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end testimonail-section -->
	{% endblock %}

	